TODO:
- Name all appliances
- Fix data for homes that have different 
- Table of appliances in each home, date of first/last measurement.
- Plot time series of data for some home for some day, showing main and individual appliances.
- Show histogram of energy used in each home.
- Show histogram of energy used by appliances in each home.
- Replicate table 3.4 from Chaoyun's paper
- Full day of data for each home on each day? Day 1: 20 homes with complete data, Day 2:...
- Solar panels - ignore these homes (11 and 21)
- Mystery kettle
- House 12 has kettle mistake (says 6 when it should be 4). See

In [109]:
import os
import pandas as pd
import numpy as np
import sqlite3
from ggplot import *
from utils import *
import io
from get_activations import *
import time
import datetime

In [2]:
dir_proj = '/Users/sipola/Google Drive/education/coursework/graduate/edinburgh/dissertation/thesis'
dir_data = os.path.join(dir_proj, 'data')

In [3]:
params_appliance = get_params_appliance()
app = pd.read_csv(os.path.join(dir_data, 'appliances.csv'))
refit_data_path = os.path.join(dir_data, 'REFITPowerData111215')

In [224]:
reload(io)
conn = sqlite3.connect(os.path.join(dir_data, 'refit.db'))
dir_houses = os.path.join(dir_data, 'refit')
# data_import.save_refit_data_to_sqlite(conn, refit_data_path, nrows=None)
io.save_refit_data(conn, refit_data_path, 'numpy', dir_houses=dir_houses, dir_data=dir_data, nrows=None)
conn.close()

writing REFIT data...
added house 1 (0.22 min)
added house 2 (0.14 min)
added house 3 (0.16 min)
added house 4 (0.19 min)
added house 5 (0.22 min)
added house 6 (0.16 min)
added house 7 (0.16 min)
added house 8 (0.15 min)
added house 9 (0.15 min)
added house 10 (0.16 min)
added house 11 (0.12 min)
added house 12 (0.27 min)
added house 13 (0.16 min)
added house 15 (0.26 min)
added house 16 (0.15 min)
added house 17 (0.13 min)
added house 18 (0.12 min)
added house 19 (0.13 min)
added house 20 (0.13 min)
added house 21 (0.13 min)
done!

In [228]:
len(np.load(os.path.join(dir_houses, 'house1', 'timestamp.npy')))

7633070

In [201]:
def query(string):
    conn = sqlite3.connect(os.path.join(dir_data, 'refit.db'))
    df = pd.read_sql(string, conn)
    conn.close()
    return df


def tt():
    return time.time()


def runtime(t0):
    print '{1:.2g}'.format((tt() - t0) / 60)

In [171]:
# Test
query('SELECT * FROM power LIMIT 3')

,Timestamp,House,Appliance0,Appliance1,Appliance2,Appliance3,Appliance4,Appliance5,Appliance6,Appliance7,Appliance8,Appliance9
0,1381323977,1,523,74,0,69,0,0,0,0,0,1
1,1381323990,1,526,75,0,69,0,0,0,0,0,1
2,1381324005,1,540,74,0,68,0,0,0,0,0,1

In [172]:
# Initialize dict of dataframes for exploratory data analysis
dfs = {}

In [173]:
# Get min and max of timestamp for each home
t0 = tt()
dfs['ts_min_max'] = query('SELECT House, MIN(Timestamp) AS TimestampMin, MAX(Timestamp) AS TimestampMax FROM power GROUP BY House')
runtime(t0)

In [189]:
pd.DataFrame.from_dict({'House': dfs['ts_min_max']['House'],
                        'DatetimeMin': [str(i.date()) for i in ts2dt(dfs['ts_min_max']['TimestampMin'])],
                        'DatetimeMax': [str(i.date()) for i in ts2dt(dfs['ts_min_max']['TimestampMax'])]})

   DatetimeMax DatetimeMin  House
0   2015-07-10  2013-10-09      1
1   2015-05-28  2013-09-17      2
2   2015-06-02  2013-09-25      3
3   2015-07-07  2013-10-11      4
4   2015-07-06  2013-09-26      5
5   2015-06-28  2013-11-28      6
6   2015-07-08  2013-11-01      7
7   2015-05-10  2013-11-01      8
8   2015-07-08  2013-12-17      9
9   2015-06-30  2013-11-20     10
10  2015-06-30  2014-06-03     11
11  2015-07-08  2014-03-07     12
12  2015-05-31  2014-01-17     13
13  2015-07-08  2013-12-17     15
14  2015-07-08  2014-01-10     16
15  2015-06-19  2014-03-06     17
16  2015-05-24  2014-03-07     18
17  2015-06-20  2014-03-06     19
18  2015-06-23  2014-03-20     20
19  2015-07-10  2014-03-07     21

In [210]:
# Get appliance statistics for each home. To be used in get_activations().
with sqlite3.connect(os.path.join(dir_data, 'refit.db')) as conn:
    conn.create_aggregate('stdev', 1, StdevFunc)

# Build query string starting with column definitions.
query_str = ['House']
for app in range(10):
    query_str.append('MAX(Appliance{0}) AS MaxOnPower, AVG(Appliance{0}) AS MeanPower, STDEV(Appliance{0}) AS StddevPower'.format(app))
query_str = ','.join(query_str)
query_str = 'SELECT ' + query_str + ' FROM power GROUP BY House'
conn = sqlite3.connect(os.path.join(dir_data, 'refit.db'))

# Run query.
t0 = tt()
conn = sqlite3.connect(os.path.join(dir_data, 'refit.db'))
conn.create_aggregate('stdev', 1, StdevFunc)
df = pd.read_sql(query_str, conn)
dfs['app_stats'] = query(query_str)
conn.close()
runtime(t0)

DatabaseError: Execution failed on sql 'SELECT House,MAX(Appliance0) AS MaxOnPower, AVG(Appliance0) AS MeanPower, STDEV(Appliance0) AS StddevPower,MAX(Appliance1) AS MaxOnPower, AVG(Appliance1) AS MeanPower, STDEV(Appliance1) AS StddevPower,MAX(Appliance2) AS MaxOnPower, AVG(Appliance2) AS MeanPower, STDEV(Appliance2) AS StddevPower,MAX(Appliance3) AS MaxOnPower, AVG(Appliance3) AS MeanPower, STDEV(Appliance3) AS StddevPower,MAX(Appliance4) AS MaxOnPower, AVG(Appliance4) AS MeanPower, STDEV(Appliance4) AS StddevPower,MAX(Appliance5) AS MaxOnPower, AVG(Appliance5) AS MeanPower, STDEV(Appliance5) AS StddevPower,MAX(Appliance6) AS MaxOnPower, AVG(Appliance6) AS MeanPower, STDEV(Appliance6) AS StddevPower,MAX(Appliance7) AS MaxOnPower, AVG(Appliance7) AS MeanPower, STDEV(Appliance7) AS StddevPower,MAX(Appliance8) AS MaxOnPower, AVG(Appliance8) AS MeanPower, STDEV(Appliance8) AS StddevPower,MAX(Appliance9) AS MaxOnPower, AVG(Appliance9) AS MeanPower, STDEV(Appliance9) AS StddevPower FROM power GROUP BY House': no such function: STDEV

In [ ]:
dfs['app_stats']